# Chemins
MUSIC_DIR=/home/pi/music

# Permissions
# Obtenez-les avec : id -u && id -g
UID=1000
GID=1000

# Navidrome
ND_SCANSCHEDULE=1h
ND_LOGLEVEL=info
ND_SESSIONTIMEOUT=24h
ND_BASEURL=
ND_ENABLETRANSCODINGCONFIG=false
ND_DEFAULTTHEME=Dark
ND_DEFAULTLANGUAGE=fr